@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Antonio";
    weight: 100 900;
  }
  src: url("/assets/fonts/Antonio/Antonio-VariableFont_wght.ttf");
}

@font-face {
  font: {
    family: "League Spartan";
    weight: 100 900;
  }
  src: url("/assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

body {
  font: 400 1rem / normal "League Spartan", sans-serif;
  color: $clr-white;
}

:where(h1, h2, h3, h4, h5, h6) {
  @include font(
    get-clamp(2.5, 5, 23, $bp-desktop),
    400,
    $transform: uppercase,
    $family: "Antonio"
  );
}

.home {
  &__title {
    @include font(
      get-clamp(2.5 * 1.2, 5 * 1.2, 23, $bp-desktop),
      700,
      150%,
      get-clamp(0.12rem, 0.3rem, 23, $bp-desktop),
      null,
      center
    );
  }
}
