@use "../../scss/abstracts" as *;

.nav {
  @include max-width-content($add: 17rem);
  @include padding-inline;
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    list-style-type: none;

    @include mq($until: $bp-tablet) {
      flex-direction: column;
    }
  }
}

.hamburger {
  // NOMNOM 🍔

  &-label {
    @include mq($bp-tablet) {
      display: none;
    }
  }
}
