@use "functions" as *;

// colors

$clr-main-900: #070724;
$clr-main-700: #38384f;
$clr-main-300: #838391;
$clr-white: #fff;

$clr-mercury: #419ebb;
$clr-venus: #eda249;
$clr-earth: #6f2ed6;
$clr-mars: #d14c32;
$clr-jupiter: #d83a34;
$clr-saturn: #cd5120;
$clr-uranus: #1ec2a4;
$clr-neptune: #2d68f0;

// breakpoints

$bp-tablet: 740px;
$bp-desktop: 980px;
