@use "functions" as *;

// colors

$clr-main-900: #070724;
$clr-main-700: #38384f;
$clr-main-300: #838391;
$clr-white: #fff;

$planet-colors: (
  "mercury": #419ebb,
  "venus": #eda249,
  "earth": #6f2ed6,
  "mars": #d14c32,
  "jupiter": #d83a34,
  "saturn": #cd5120,
  "uranus": #1ec2a4,
  "neptune": #2d68f0,
);

// breakpoints

$bp-tablet: 740px;
$bp-desktop: 980px;

// sizing

$padding-inline-min: 1.5rem;
$padding-inline-max: 2.44rem;
$padding-inline-content: get-clamp(
  $padding-inline-min,
  $padding-inline-max,
  20rem,
  $bp-tablet
);

$max-width-content: 1110px;
