@use "../../scss/abstracts" as *;

.stats {
  display: grid;
  gap: 0.5rem;
  margin-top: 1.75rem;

  @include mq($bp-tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq($bp-desktop) {
    margin-top: 5.4rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include border(0.0625rem, rgba($clr-white, 0.2));
    padding: 0.55rem 1.5rem;

    @include mq($bp-tablet) {
      display: grid;
      gap: 0.5rem;
      padding: 1.5rem 0.95rem;
    }
  }

  &__detail {
    color: unset;
  }
}
